{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div id="header" align="center">
    <span class="logo">Домашний проект Филиппова Константина @ Direct Line Academy</span>
    <p>Текущий пользователь: {{ request.user }} <a href="/users/logout">Выйти</a></p>
</div>
<div id="content">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>