<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
  <article>
      {% if not user.is_authenticated %}
        <form method="POST">
            {% csrf_token %}
            {% for field in form %}
              <div>
                  <p>{{ field }}</p>
              </div>
            {% endfor %}
            <button type="submit">Войти</button>
        </form>
      <a href="{% url 'core:password-reset' %}">Восстановить пароль</a>
      {% else %}
        <h3>Привет, {{ user.username }}</h3>
        <a href="{% url 'core:index' %}">Главная страница</a>
        <a href="{% url 'core:logout' %}">Выйти</a>
      {% endif %}
      <h3 ></h3>
  </article>
</body>
</html>