<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password reset</title>
</head>
<body>
  <article>
      <h3>Восстановление пароля</h3>
      <hr>
      {% if not user.is_authenticated %}
        <form method="POST">
            {% csrf_token %}
            {% for field in form %}
              <p>Введите email указанный при регистрации</p>
              {{ field }}
            {% endfor %}
            <button type="submit">Восстановить</button>
        </form>

      {% else %}
        <h3>Привет, {{ user.username }}</h3>
        <a href="{% url 'core:logout' %}">Выйти</a>
        <a href="{% url 'core:index' %}">На главную</a>
      {% endif %}
  </article>
</body>
</html>