{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Создание объявления</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
<form method="post" enctype="multipart/form-data">
{% csrf_token %}
    {# {{ form.as_table }} будет отображать их как ячейки таблицы, завернутые в <tr> теги #}
    {# {{ form.as_p }} сделает их завернутыми в <p> теги #}
    {# {{ form.as_ul }} сделает их завернутыми в <li> теги #}
    {{ form.as_p }}
<button type="submit">Создать пост</button>
    {{ ad_create_result }}
</form>
</body>
</html>