{% extends "base.html" %}
{% block title %}Detail{% endblock %}
{% block content %}
{% if ad_detail %}
<ul>
    <li>
        <p> {{ ad_detail.author }} </p>
        <p> {% for set in ad_detail.categories.all %}
            {{ set }}
            {% endfor %}
        </p>
            <p> {{ ad_detail.date_pub }} </p>
            {{ ad_detail.title }}
            {% if ad_detail.photo %}
            <p> <img alt="ad's image" src="{{ ad_detail.photo.url }}" style="width: 50%; height: 50%;"></p>
            {% else %}
            <p>Нет ни одной фотографии</p>
            {% endif %}
        <p> {{ ad_detail.description }} </p>
        <form method="POST" action="{% url 'ads:ad_favor' ad_id=ad_detail.id %}">
            {% csrf_token %}
            <button type="submit">{{ button_fav }}</button>
        </form>
        <form method="POST" action="{% url 'ads:ad_remove' ad_id=ad_detail.id %}">
            {% csrf_token %}
        <button type="submit" {{ button_rm }}>удалить</button>
            {{ context }}
        </form>
        <hr>
    </li>
</ul>
{% else %}
<p>Нет ни одной публикации</p>
{% endif %}
{% endblock %}
