{% load static %}
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Детализация объявления</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body style="width:800px;">
<div align="center"><a href="{% url 'ads:full_list' %}">Полный список публикаций</a></div>
{% if ad_detail %}
<ul>
    <li>
        <p> {{ ad_detail.author }} </p>
        <p> {% for category in ad_detail.category_set.all %}
            Категория: {{ category.name }}
            {% endfor %}
        </p>
            <p> {{ ad_detail.date_pub }} </p>
            {% if ad.photo %}
            <p> <img alt="ad's image" src="{{ ad.photo.url }}" style="width: 10%; height: 10%;"></p>
            {% else %}
            <p>Нет ни одной фотографии</p>
            {% endif %}
        <p> {{ ad_detail.description }} </p>
        <form method="POST" action="{% url 'ads:ad_favor' ad_id=ad_detail.id %}">
            {% csrf_token %}пайчарму
            <button type="submit">{{ button_fav }}</button>
        </form>
        <form method="POST" action="{% url 'ads:ad_remove' ad_id=ad_detail.id %}">
            {% csrf_token %}
        <button type="submit" {{ button_rm }}>удалить</button>
            {{ context }}
        </form>
        <hr>
    </li>
</ul>
{% else %}
<p>Нет ни одной публикации</p>
{% endif %}
</body>
