{% extends "base.html" %}
{% block title %}Category{% endblock %}
{% block content %}
{% if category_view %}
<ul>
    {% for ad in category_view %}
    <li>
        <p> {{ ad.author }} </p>
        <p> {{ category }} </p>
        <a href="{% url 'ads:ad_detail' ad.id %}">
            <p> {{ ad.date_pub }} </p>
            {% if ad.photo %}
            <p> <img alt="ad's image" src="{{ ad.photo.url }}" style="width: 10%; height: 10%;"></p>
            {% else %}
            <p>Нет ни одной фотографии</p>
            {% endif %}
        </a>
        <p> {{ ad.short_text }} </p>
        <hr>
        {% endfor %}
</ul>
{% else %}
<p>Нет ни одной публикации</p>
{% endif %}
{% endblock %}