{% extends "base.html" %}
{% block title %}Detail{% endblock %}
{% block content %}
{% if full_list %}
<ul>
    {% for ad in full_list %}
    <li>
        <p> Автор: {{ ad.author }} </p>
        <p> Категории: {% for set in ad.categories.all %}
            {{ set }}
            {% endfor %}
        </p>
            <p> {{ ad.date_pub }} </p>
            <a href="{% url 'ads:ad_detail' ad.id %}">{{ ad.title }}</a>
            {% if ad.photo %}
            <p> <img alt="ad's image" src="{{ ad.photo.url }}" style="width: 10%; height: 10%;"></p>
            {% else %}
            <p>Нет ни одной фотографии</p>
            {% endif %}
        <p> {{ ad.short_text }} </p>
        {% endfor %}
</ul>
{% else %}
<p>Нет ни одной публикации</p>
{% endif %}
{% endblock %}
