<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница HW Project</title>
</head>
<body>
    {% if last_ad %}
      <ul>
        {% for ad in last_ad %}
          <li>
              <p> {{ ad.author }} </p>
              <a href="{% url 'ads:ad-detail' ad.id %}">
                <p> {{ ad.date_pub }} </p>
                <p> <img alt="ad's image" src="{{ ad.photo.url }}" style="width: 319px; height: 500px;"></p>
              </a>
                <p> {{ ad.description }} </p>
        {% endfor %}
      </ul>
    {% else %}
    <p>Нет ни одной публикации</p>
    {% endif %}
</body>
</html>