<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Полный список публикаций</title>
</head>
<body>
    {% if full_list %}
      <ul>
        {% for ad in full_list %}
          <li>
              <p> {{ ad.author }} </p>
              <p> {% for category in ad.category_set.all %}
                    Категория: {{ category.name }}
                  {% endfor %}
              </p>
              <a href="{% url 'ads:ad-detail' ad.id %}">
                <p> {{ ad.date_pub }} </p>
                <p> <img alt="ad's image" src="{{ ad.photo.url }}" style="width: 5%; height: 5%;"></p>
              </a>
                <p> {{ ad.description }} </p>
        {% endfor %}
      </ul>
    {% else %}
    <p>Нет ни одной публикации</p>
    {% endif %}
</body>
</html>