{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
{% if last_ad %}
<ul>
    {% for ad in last_ad %}
    <li>
        <p> Автор: {{ ad.author }} </p>
        <p> {% for category in ad.category_set.all %}
            Категория: {{ category.name }}
            {% endfor %}
        </p>
        <a href="{% url 'ads:ad_detail' ad.id %}">
            <p> {{ ad.date_pub }} </p>
            {% if ad.photo %}
            <p> <img alt="ad's image" src="{{ ad.photo.url }}" style="width: 10%; height: 10%;"></p>
            {% else %}
            <p>Нет ни одной фотографии</p>
            {% endif %}
        </a>
        <p> {{ ad.description }} </p>
        <hr>
        {% endfor %}
</ul>
{% else %}
<p>Нет ни одной публикации</p>
{% endif %}
{% endblock %}}
