{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
  <article>
      <h3>Восстановление пароля</h3>
      <hr>
      {% if not user.is_authenticated %}
        <form method="POST">
            {% csrf_token %}
            {% for field in form %}
              <p>Введите email указанный при регистрации</p>
              {{ field }}
            {% endfor %}
            <button type="submit">Восстановить</button>
        </form>

      {% else %}
        <h3>Привет, {{ user.username }}</h3>
        <a href="{% url 'account:logout' %}">Выйти</a>
        <a href="{% url 'ads:index' %}">На главную</a>
      {% endif %}
  </article>
{% endblock %}